<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
      type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="css/style.css">
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/img/phantom.png" />
  <title>CRUD de Productos</title>
  <style>
    .container {
      max-width: 960px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg  text-uppercase fixed-top" id="mainNav">
      <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="/">Crud Productos</a>
          <button
              class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
              type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
              aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                          href="https://sobre-mi-az.tk/">Sobre Mi</a></li>
              </ul>
          </div>
      </div>
  </nav>
  <br>
  <div class="container">
    <div class="shadow-lg p-3 mb-5 bg-body rounded text-white" id="chedow">
      <h4>Datos del Producto a Agregar:</h4>
      <form action="/crear" method="POST">
        <div class="md-2">
          <label for="producto" class="form-label">Producto</label>
          <input id="producto" name="producto" type="text" class="form-control" required>
        </div>
        <div class="md-2">
          <label for="marca" class="form-label">Marca</label>
          <input id="marca" name="marca" type="text" class="form-control" required>
        </div>
        <div class="md-2">
          <label for="tipo" class="form-label">Tipo</label>
          <input id="tipo" name="tipo" type="text" class="form-control" required>
        </div>
        <div class="md-2">
          <label for="stock" class="form-label">Stock</label>
          <input id="stock" name="stock" type="text" class="form-control" required>
        </div>
        <div class="md-2">
          <label for="precio" class="form-label">Precio</label>
          <input id="precio" name="precio" type="text" class="form-control" required>
        </div>
    </div>
    <button type="submit" class="w-100 btn btn-guardar btn-lg"><i class="bi bi-save"></i> Registrar Carga</button>
    </form>
    <!-- Tabla productos  -->
    <table id="tablaProductos" class="table table-condensed mt-4 text-center  table-dark table-striped table-bordered table-responsive" border="1">
      <thead>
        <tr>
          <th style="display: none;">ID</th>
          <th>Producto</th>
          <th>Marca</th>
          <th>Tipo</th>
          <th>Stock</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% productos.forEach( (producto)=> { %>
          <tr>
            <td style="display: none;">
              <%= producto._id %>
            </td>
            <td>
              <%= producto.producto %>
            </td>
            <td>
              <%= producto.marca %>
            </td>
            <td>
              <%= producto.tipo %>
            </td>
            <td>
              <%= producto.stock %>
            </td>
            <td>
              <%= producto.precio %>
            </td>
            <td>
              <a type="button" class="btnEditar btn btn-primary bi bi-pencil"> Editar</a>
              <a href="/borrar/<%= producto._id %>" class="btn btn-danger bi bi-trash"> Eliminar</a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>

  <!-- Modal para Editar   -->
  <div id="modalProducto" class="modal fade" tabindex="-1" aria-labelledby="modalProducto" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-secondary text-white">
          <h5 class="modal-title" id="exampleModalLabel">Editar Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/editar" method="POST">
            <input name="id_editar" id="id_editar"  type="text" hidden>
            <div class="mb-2">
              <label for="producto_editar" class="col-form-label">Producto:</label>
              <input id="producto_editar" name="producto_editar" class="form-control">
            </div>
            <div class="mb-2">
              <label for="marca_editar" class="col-form-label">Marca:</label>
              <input id="marca_editar" name="marca_editar" type="text" class="form-control" value="">
            </div>
            <div class="mb-2">
              <label for="tipo_editar" class="col-form-label">Tipo:</label>
              <input id="tipo_editar" name="tipo_editar" type="text" class="form-control" value="">
            </div>
            <div class="mb-2">
              <label for="stock_editar" class="col-form-label">Stock:</label>
              <input id="stock_editar" name="stock_editar" type="text" class="form-control" value="">
            </div>
            <div class="mb-2">
              <label for="precio_editar" class="col-form-label">Precio:</label>
              <input id="precio_editar" name="precio_editar" type="text" class="form-control" value="">
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Actualizar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Localización</h4>
                <p class="lead mb-0">
                    Psj. Libertad 189
                    <br />
                    Lima, El Agustino
                </p>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Paginas Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/?ref=tn_tnmn"><i
                        class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/"><i
                        class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.youtube.com/"><i
                        class="fab fa-youtube"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/"><i
                        class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="js/code.js"></script>
</body>

</html>